##### data files too large, not saved to repository, short version of the citibike.csv data added as samplecitibike.csv to CleanedData folder

In [1]:
# Importing dependencies
import pandas as pd
import numpy as np
import datetime as dt
pd.set_option('max_colwidth', 400)

In [2]:
# Reading 2019 data into a Pandas DataFrame
June2019 = pd.read_csv('201906-citibike-tripdata.csv')
July2019 = pd.read_csv('201907-citibike-tripdata.csv')
August2019 = pd.read_csv('201908-citibike-tripdata.csv')
September2019 = pd.read_csv('201909-citibike-tripdata.csv')

# Reading 2020 data into a Pandas DataFrame
June2020 = pd.read_csv('202006-citibike-tripdata.csv')
July2020 = pd.read_csv('202007-citibike-tripdata.csv')
August2020 = pd.read_csv('202008-citibike-tripdata.csv')
September2020 = pd.read_csv('202009-citibike-tripdata.csv')

# Concatenating 2019 data into a single DataFrame
frames2019 = [June2019, July2019, August2019, September2019]
df2019 = pd.concat(frames2019)
df2019.head()

# Concatenating 2020 data into a single DataFrame
frames2020 = [June2020, July2020, August2020, September2020]
df2020 = pd.concat(frames2020)
df2020.head()

# Concatenating 2019 and 2020 data into a single DataFrame
frames20192020 = [df2019, df2020]
df_20192020 = pd.concat(frames20192020)
df_20192020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [3]:
# Getting a brief summary of the new DataFrame
df_20192020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17901378 entries, 0 to 2488224
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 2.1+ GB

In [4]:
# changing gender names to male and female
df_20192020["gender"].replace({1: 'Male', 2: 'Female', 0: 'Unknown'}, inplace=True)

# breaking out the year, month, day, and hour from the starttime column and adding them as new columns
df_20192020['Trip Year'] = df_20192020.starttime.str.split('-', expand=True)[0] 
df_20192020['Trip Month'] = df_20192020.starttime.str.split('-', expand=True)[1]
df_20192020['Trip Day'] = df_20192020.starttime.str.split('-', expand=True)[2].str.split(' ', expand=True)[0]
df_20192020['Trip Hour'] = df_20192020.starttime.str.split(' ', expand=True)[1].str.split(':', expand=True)[0]
df_20192020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Trip Year,Trip Month,Trip Day,Trip Hour
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,Male,2019,06,01,00
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,Female,2019,06,01,00
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,Female,2019,06,01,00
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,Male,2019,06,01,00
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,Male,2019,06,01,00

In [5]:
# giving names to months
df_20192020["Trip Month"].replace({'06': 'June', '07': 'July', '08': 'August', '09': 'September'}, inplace=True)
#checking last 10 rows
df_20192020.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Trip Year,Trip Month,Trip Day,Trip Hour
2488220,1818,2020-09-30 23:59:48.8460,2020-10-01 00:30:07.7810,284.0,Greenwich Ave & 8 Ave,40.739017,-74.002638,3836.0,Bushwick Ave & Linden St,40.691460,-73.921460,36220,Subscriber,1993,Male,2020,September,30,23
2488221,1553,2020-09-30 23:59:53.7240,2020-10-01 00:25:47.1760,390.0,Duffield St & Willoughby St,40.692216,-73.984284,3799.0,6 Ave & W 34 St,40.749640,-73.988050,31092,Subscriber,1995,Male,2020,September,30,23
2488222,626,2020-09-30 23:59:54.6670,2020-10-01 00:10:21.6050,3901.0,Stanhope St & Fairview Ave,40.709980,-73.911160,3083.0,Bushwick Ave & Powers St,40.712477,-73.941000,47224,Subscriber,1954,Female,2020,September,30,23
2488223,325,2020-09-30 23:59:56.2120,2020-10-01 00:05:21.3060,3148.0,E 84 St & 1 Ave,40.775655,-73.950686,3338.0,2 Ave & E 99 St,40.786259,-73.945526,16759,Subscriber,1995,Female,2020,September,30,23
2488224,128,2020-09-30 23:59:57.8350,2020-10-01 00:02:06.0920,439.0,E 4 St & 2 Ave,40.726281,-73.989780,312.0,Allen St & Stanton St,40.722055,-73.989111,47718,Subscriber,1996,Female,2020,September,30,23

In [6]:
# Checking the data types of the new columns
df_20192020.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                      object
Trip Year                   object
Trip Month                  object
Trip Day                    object
Trip Hour                   object
dtype: object

In [8]:
# Function to convert seconds to "HH:MM:SS" format
def convert_seconds_to_hh_mm_ss(seconds):
    m, s = divmod(seconds, 60)
    h, m = divmod(m, 60)
    return "{:02}:{:02}:{:02}".format(int(h), int(m), int(s))

# Assuming df_20192020 is your DataFrame with a 'tripduration' column
df_20192020['NewTripDuration'] = df_20192020['tripduration'].apply(lambda x: convert_seconds_to_hh_mm_ss(x))

# Remove the old 'tripduration' column
df_20192020.drop('tripduration', axis=1, inplace=True)

# Display the updated DataFrame
df_20192020.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Trip Year,Trip Month,Trip Day,Trip Hour,NewTripDuration
0,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,Male,2019,June,01,00,00:05:30
1,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,Female,2019,June,01,00,00:13:50
2,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,Female,2019,June,01,00,00:06:20
3,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,Male,2019,June,01,00,00:19:15
4,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,Male,2019,June,01,00,00:17:35

In [9]:
# checking column names as a list
df_20192020.columns.tolist()

['starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'Trip Year',
 'Trip Month',
 'Trip Day',
 'Trip Hour',
 'NewTripDuration']

In [11]:
# Converting the time part to '00:00:00' format for 'starttime' and 'stoptime' columns
df_20192020[['starttime', 'stoptime']] = df_20192020[['starttime', 'stoptime']].apply(lambda col: pd.to_datetime(col).dt.strftime('%Y-%m-%d %H:%M:%S').str.replace(r' \d{2}:\d{2}:\d{2}$', ' 00:00:00'))

# Rename columns with best possible names
df_20192020 = df_20192020.rename(columns={
    'start station id': 'StartStationID',
    'start station name': 'StartStationName',
    'start station latitude': 'StartStationLatitude',
    'start station longitude': 'StartStationLongitude',
    'end station id': 'EndStationID',
    'end station name': 'EndStationName',
    'end station latitude': 'EndStationLatitude',
    'end station longitude': 'EndStationLongitude',
    'bikeid': 'BikeID',
    'usertype': 'UserType',
    'birth year': 'BirthYear',
    'gender': 'Gender',
    'Trip Year': 'TripYear',
    'Trip Month': 'TripMonth',
    'Trip Day': 'TripDay',
    'Trip Hour': 'TripHour',
    'NewTripDuration': 'TripDuration'
})

# Displaying the updated DataFrame
df_20192020.head()

,starttime,stoptime,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude,BikeID,UserType,BirthYear,Gender,TripYear,TripMonth,TripDay,TripHour,TripDuration
0,2019-06-01 00:00:01,2019-06-01 00:05:31,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,Male,2019,June,01,00,00:05:30
1,2019-06-01 00:00:04,2019-06-01 00:13:55,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,Female,2019,June,01,00,00:13:50
2,2019-06-01 00:00:06,2019-06-01 00:06:26,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,Female,2019,June,01,00,00:06:20
3,2019-06-01 00:00:06,2019-06-01 00:19:22,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,Male,2019,June,01,00,00:19:15
4,2019-06-01 00:00:07,2019-06-01 00:17:42,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,Male,2019,June,01,00,00:17:35

In [12]:
# checking column names as a list
df_20192020.columns.tolist()

['starttime',
 'stoptime',
 'StartStationID',
 'StartStationName',
 'StartStationLatitude',
 'StartStationLongitude',
 'EndStationID',
 'EndStationName',
 'EndStationLatitude',
 'EndStationLongitude',
 'BikeID',
 'UserType',
 'BirthYear',
 'Gender',
 'TripYear',
 'TripMonth',
 'TripDay',
 'TripHour',
 'TripDuration']

In [15]:
# checking the type of each column
df_20192020.dtypes

UserType                  object
BirthYear                  int64
Gender                    object
TripYear                  object
TripMonth                 object
TripDay                   object
TripHour                  object
starttime                 object
stoptime                  object
TripDuration              object
StartStationID           float64
StartStationName          object
StartStationLatitude     float64
StartStationLongitude    float64
EndStationID             float64
EndStationName            object
EndStationLatitude       float64
EndStationLongitude      float64
BikeID                     int64
dtype: object

In [16]:
# Converting 'TripYear' to int64
df_20192020['TripYear'] = pd.to_numeric(df_20192020['TripYear'], errors='coerce').astype('Int64')

# Define the new column order
new_column_order = ['UserType', 'BirthYear', 'Gender', 'TripYear', 'TripMonth', 'TripDay', 'TripHour',
                    'starttime', 'stoptime', 'TripDuration', 'StartStationID', 'StartStationName',
                    'StartStationLatitude', 'StartStationLongitude', 'EndStationID',
                    'EndStationName', 'EndStationLatitude', 'EndStationLongitude', 'BikeID']

# Reorganize the columns
df_20192020 = df_20192020[new_column_order]

# Calculate the 'Age' column
df_20192020['Age'] = df_20192020['TripYear'] - df_20192020['BirthYear']

# Display the updated DataFrame
df_20192020.head()

,UserType,BirthYear,Gender,TripYear,TripMonth,TripDay,TripHour,starttime,stoptime,TripDuration,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude,BikeID,Age
0,Subscriber,1992,Male,2019,June,01,00,2019-06-01 00:00:01,2019-06-01 00:05:31,00:05:30,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,27
1,Subscriber,1987,Female,2019,June,01,00,2019-06-01 00:00:04,2019-06-01 00:13:55,00:13:50,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,32
2,Subscriber,1990,Female,2019,June,01,00,2019-06-01 00:00:06,2019-06-01 00:06:26,00:06:20,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,29
3,Subscriber,1987,Male,2019,June,01,00,2019-06-01 00:00:06,2019-06-01 00:19:22,00:19:15,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,32
4,Subscriber,1973,Male,2019,June,01,00,2019-06-01 00:00:07,2019-06-01 00:17:42,00:17:35,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,46

In [19]:
# Defining the new column order
new_column_order = ['BikeID', 'UserType', 'BirthYear', 'Gender', 'Age', 'TripYear', 'TripMonth', 'TripDay', 'TripHour',
                    'starttime', 'stoptime', 'TripDuration', 'StartStationID', 'StartStationName',
                    'StartStationLatitude', 'StartStationLongitude', 'EndStationID',
                    'EndStationName', 'EndStationLatitude', 'EndStationLongitude']

# Reorganizing the columns
df_20192020 = df_20192020[new_column_order]

# Display the updated DataFrame
df_20192020.head()

,BikeID,UserType,BirthYear,Gender,Age,TripYear,TripMonth,TripDay,TripHour,starttime,stoptime,TripDuration,StartStationID,StartStationName,StartStationLatitude,StartStationLongitude,EndStationID,EndStationName,EndStationLatitude,EndStationLongitude
0,20348,Subscriber,1992,Male,27,2019,June,01,00,2019-06-01 00:00:01,2019-06-01 00:05:31,00:05:30,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661
1,34007,Subscriber,1987,Female,32,2019,June,01,00,2019-06-01 00:00:04,2019-06-01 00:13:55,00:13:50,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877
2,20587,Subscriber,1990,Female,29,2019,June,01,00,2019-06-01 00:00:06,2019-06-01 00:06:26,00:06:20,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267
3,33762,Subscriber,1987,Male,32,2019,June,01,00,2019-06-01 00:00:06,2019-06-01 00:19:22,00:19:15,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651
4,31290,Subscriber,1973,Male,46,2019,June,01,00,2019-06-01 00:00:07,2019-06-01 00:17:42,00:17:35,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666

In [20]:
# Selecting the first 10 rows
first_10_rows = df_20192020.head(10)

# Exporting the selected rows to a CSV file
first_10_rows.to_csv('samplecitibike.csv', index=False)

In [21]:
# Exporting the DataFrame as a CSV file inside the same folder
df_20192020.to_csv("citibike.csv", index=False)

In [22]:
# checking column names as a list
df_20192020.columns.tolist()

['BikeID',
 'UserType',
 'BirthYear',
 'Gender',
 'Age',
 'TripYear',
 'TripMonth',
 'TripDay',
 'TripHour',
 'starttime',
 'stoptime',
 'TripDuration',
 'StartStationID',
 'StartStationName',
 'StartStationLatitude',
 'StartStationLongitude',
 'EndStationID',
 'EndStationName',
 'EndStationLatitude',
 'EndStationLongitude']